
:root {
  --light-grey: #f2f3f4;
  --dark-blue: #030310;
  --fcc-blue: #1b1b32;
  --light-yellow: #b9d9e0;
  --dark-yellow: #489fb7;
  --light-pink: #e4a8a8;
  --dark-red: #850000;
  --light-green: #7f9e36;
}

label{
  color:black;
}
fieldset>legend{
  color: black;
}
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: var(--fcc-blue);
  color: var(--light-grey);
}

h1 {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 680px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--light-grey);
  border-radius: 10px;
}

h1,
.container,
.output {
  margin: 20px auto;
}

label,
legend {
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
}

input[type="number"],
input[type="text"] {
  flex: 1; /* Occupe toute la largeur disponible */
  padding: 8px;
  margin-bottom: 10px; /* Ajout de marge entre chaque input */
  border: 2px solid var(--dark-blue);
  border-radius: 3px;
  outline: none;
}

input[type="number"]:hover,
input[type="text"]:hover {
  border-color: var(--dark-yellow); /* Changement de couleur de la bordure au survol */
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--light-yellow);
  border: 2px solid var(--dark-yellow);
  padding: 10px 20px;
  border-radius: 3px;
  outline: none; /* Ajout de la propriété outline */
  transition: background-color 0.3s, border-color 0.3s; /* Ajout d'une transition pour une animation fluide */
}

button:hover {
  background-color: #ffd966; /* Changement de couleur au survol */
  border-color: #ffcc00; /* Changement de couleur de la bordure au survol */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ajout d'une ombre au survol */
}

button:active {
  background-color: #ffcc00; /* Changement de couleur au clic */
  border-color: #ff9900; /* Changement de couleur de la bordure au clic */
}

button,
select {
  min-height: 24px;
  color: var(--dark-blue);
}

fieldset,
label,
button,
select {
  margin-bottom: 10px;
}

.output {
  border: 2px solid;
  color: black;
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--light-pink);
}

.deficit {
  color: var(--light-green);
}
